<template>
    <div class="container">
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 ">Todo List</div>
                            <div class="col-md-6"> 
                                  <b-btn v-b-modal.myModal class="btn btn-default btn-sm float-right">+</b-btn>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div v-for="value in todoList">
                            <div  class="row">
                                <div class="col-md-8">
                                    {{ value.name }}
                                </div>        
                                <div class="col-md-4">
                                    <b-btn class="btn btn-default btn-sm" v-on:click="showDetails(value.id)">View</b-btn>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Todo Details</div>

                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th scope="col">{{ todoName }}</th>
                                  <th scope="col">{{ todoDetails }}</th>
          
                                  <th scope="col">  <b-btn class="btn btn-default btn-sm" v-on:click="editTodo(todoID)">Edit</b-btn></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <modalform :callMethod="read"></modalform>

    </div>

</template>

<script>
    import modalform from '../components/ModalFormComponent.vue';
    export default {

        components: {
            modalform: modalform
        },
        data () {
            return {
                todoList: [],
                todoName: "Null",
                todoDetails: "Null",
                todoID: "",
                
            }
        },
        mounted() {
            this.read();

        },

        methods:{
            read: function(){
                axios.get('./api/vueform').then((response) => {
                console.log(response.data);
                    this.todoList = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },

            showDetails: function(id){
                axios.get('./api/vueform/'+id).then((response) => {
                    this.todoName = response.data.name;
                    this.todoDetails = response.data.details;
                    this.todoID = response.data.id;
                }).catch(function (error) {
                    console.log(error);
                });
            },

            editTodo:function(id){

                axios.put('./api/vueform/'+id, {
      
                }).then(response => {
                        console.log(response.data);

                });
            }
        },

    }
</script>

<style scoped>
.row {
    padding: 3px !important;
}

</style>   
 