<template>
    <div class="container">
        <b-modal id="myModal">
            <b-container fluid>
                <b-row class="my-1">
                    <b-col sm="3"><label for="input-small">Name:</label></b-col>
                    <b-col sm="9">
                      <b-form-input id="name" size="md" type="text" placeholder="" v-model="notesname"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="3"><label for="input-small">Notes:</label></b-col>
                    <b-col sm="9">
                      <b-form-input id="notes" size="md" type="text" placeholder="" v-model="notesdesc"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="3"><label for="input-small">Due Date:</label></b-col>
                    <b-col sm="4" size="md">
                        <datepicker v-model="date" ></datepicker>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="3"><label for="input-small">Link to user:</label></b-col>
                    <b-col sm="9">
                        <multiselect v-model="value_owner" :options="options_owner" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
                        <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" 
                            v-if="values.length &amp;&amp; !isOpen">{{ values.length }} Users selected</span></template>
                        </multiselect>
                       
                    </b-col>
                </b-row>
            </b-container>
            <div slot="modal-footer" class="w-100">
          
                <b-btn size="sm" class="float-right" variant="primary" @click="saveForm()">
                    Save
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>

    let currentUrl = window.location.pathname;

    import axios from 'axios';
    import Multiselect from 'vue-multiselect';
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker,
            Multiselect 
        },



        data () {
            return {
                value_owner: [],
                options_owner: [],
                notesname: '',
                notesdesc: '',
                date: '',
                userArray: [],

            }
        },

        props: {
            callMethod: ""
        },
        
        mounted() {

            this.$http.get(currentUrl+'/api/users').then(response => {
                this.options_owner = response.data;

            });
    
        },

        methods:{

            saveForm(){
  
                $.each(this.value_owner, function(key, value) {
                    this.userArray = value.id;
                });


                axios.post('./api/vueform', {
                    notesname:  this.notesname,
                    notesdesc: this.notesdesc,
                    date: this.date,
                    owner: this.userArray
                }).then(response => {
                    this.callMethod();

                });

            },

        }
      
    }
</script>
